$primary-color: #7546b7;

.background-home{
    background-image: url('../images/background-city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .page-login {

        form {
            background-color: white;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

            .btn {
                width: 100%;
            }
        }
    }
}

.navbar .navbar-nav .nav-item .nav-link {
  line-height: normal;
}

td a i{
  color: $primary-color;
}


.title{
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
  font-size: 2rem;
  
  i{
    margin: 10px;
  }
  
  &:before{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-color: $primary-color;
    left: 15px;
  }
}

a{
  color: $primary-color;
  
  &:hover{
    color: darken($primary-color, 10);
  }
}
